node_modules/
.output/
.wxt/
dist/
*.zip
.DS_Store
.env
.env.*

# Logs
logs
*.log

# Build artifacts
stats.html
stats-*.json
web-ext.config.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
